# Ignore build directories
build/
Build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore compiled object files
*.o
*.obj
*.lo
*.la
*.al
*.libs

# Ignore executable binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Ignore editor-specific files
*.swp
*~
*.bak

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code workspace settings (optional)
.vscode/

# Ignore log files
*.log
